#header-region {
        #logo {
            height: 30px;
            display: inline-block;
            position: relative;
            top: 0px;

            i {
                font-size: 22px;
            }
        }

        a {
            height: 45px;
        }
}