html, body {
    height: 100%;
}

ul, ol, dl {
    list-style-type: none;
}

#wrap {
    height: auto !important;
    min-height: 100%;
    margin-bottom: -$pushHeight;
}

#push {
    height: $pushHeight;
}

#page-title {
    background-color: $primary-color;
    padding: 10px 0;
    position: relative;

    h1, h2, h3, h4 {
        color: $white;
        font-family: 'Muli', sans-serif;
        font-weight: 500;
        text-shadow: 1px, 2px, 0, lighten($primary-color, 5%);
    }

    h1 {
        margin: 0;
    }

    h4 {
        font-weight: 300;
    }

    #page-icons {
        font-size: 400%;
        color: lighten($primary-color, 10%);
        position: absolute;
        top: 0px;
        right: 50px;

        i {
            width: 26px;
            display: inline-block;
            text-shadow: 0, 1px, 0, lighten($primary-color, 5%);
        }
    }
}

#main-region {
    section {
        margin: 20px 0; }
}

[data-wrapper].opacity {
    background-color: white; opacity: 0.4;
}

textarea {
    height: auto;
}