<!DOCTYPE html>
<html>
<head>
  <title>FormBuilder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Muli:400,300" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
